<template id="article-categories">
  <span>
    <template v-for="item in items">
      <a @click.prevent="onItem(item._id)" href="#" class="tag-item">{{item._title}}</a>
    </template>
  </span>
</template>