<div class="mb-3" data-blog-handler="Article"
     data-url="<%- _url('/api/base/data/read') %>">

    <div class="article"></div>

    <template data-id="alert">
        <div class="alert-danger alert">{{text}}</div>
    </template>

    <template data-id="article">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="to-articles" data-t="">Articles</a></li>
            <li class="breadcrumb-item" data-t="">Article</li>
        </ol>
        <h1 class="mt-b">{{title}}</h1>
        <p class="mb-3"><span class="bg-info badge">{{date}}</span></p>
        <h5 class="mb-3">{{subtitle}}</h5>
        {{carousel}}
        <div class="mb-3">{{content}}</div>
        <div class="mb-3">
            <b class="mr 1"><span data-t="">Categories</span>:</b>
            {{categories}}
        </div>
        <hr>
        <a name="comments"></a>
        <h4 class="my-4">
            <span data-t="">Comments</span>
            <small>({{commentCounter}})</small>
        </h4>
        <div class="comment-list">
            {{comments}}
        </div>
        <hr>
        <%- include('./_commentForm') %>
    </template>

    <template data-id="category">
        <a href="#" data-id="{{_id}}" class="category-item tag-item">{{_title}}</a>
    </template>

    <template data-id="carousel">
        <div id="article-photos" class="carousel slide my-3"
             data-bs-ride="carousel"
             data-bs-interval="false"
             data-bs-wrap="true">
            <div class="carousel-inner">
                {{photos}}
            </div>
            <button class="carousel-control-prev" data-bs-target="#article-photos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-target="#article-photos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </template>

    <template data-id="photo">
        <div class="carousel-item {{active}}">
            <img class="d-block w-100"
                 src="<%- _url('/api/base/file/thumbnail') %>?s=large&c=photo&id={{_id}}"
                 alt="{{description}}">
            <div class="carousel-caption">{{description}}</div>
        </div>
    </template>

    <template data-id="comment">
        <div class="comment-item clearfix" data-id="{{_id}}">
            <div class="comment-icon">
                <span class="fas fa-comment-alt text-info"></span>
            </div>
            <div class="comment-column">
                <div class="comment-head">
                    <span class="text-secondary">{{date}}</span>
                    <b class="ms-1 text-info">
                        <span class="me-1 fa fa-user"></span>
                        {{user}}
                    </b>
                </div>
                <div class="comment-body"><i>{{content}}</i></div>
            </div>
        </div>
    </template>

    <template data-id="no-comments">
        <<div class="alert alert-info" data-t="">Not commented yet</div>
    </template>
</div>