
<div class="card-warning card mb-5">
    <div class="card-header" data-t="">Categories</div>
    <div class="loadable-content card-body"
         data-blog-handler="CategoryWidget"
         data-url="<%- _url('/api/base/data/list') %>">

        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>

        <template data-id="list">
            <div class="list-group">{{items}}</div>
        </template>

        <template data-id="item">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               href="#" data-id="{{_id}}">
                <span data-t="meta.class.category">{{_title}}</span>
                <span class="badge-info badge">{{publicArticleCounter}}</span>
            </a>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>
    </div>
</div>