<!-- article/_search -->
<div class="card-info card mb-3">
    <div class="card-header" data-t="">Search</div>
    <div class="card-body">
        <form class="search-form form" method="get" data-blog-handler="SearchWidget">
            <div class="input-group">
                <input type="search" name="text" class="form-control" value="">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>