<!-- front-ajax/_part/nav/logo -->

<a href="front-ajax" class="logo">
    <span class="logo-mini"><b>FA</b></span>
    <span class="logo-lg"><%- _module.app.getTitle() %>.<b>Front</b> AJAX</span>
</a>