<%
const counter = comments ? comments.length : 0;
%>
<a name="comments"></a>
<h4 class="my-4">
    <span data-t="">Comments</span>
    <small>(<%- counter %>)</small>
</h4>
<% if (counter) { %>
<a name="comments"></a>
<div class="comment-list">
    <% for (const comment of comments) { %>
    <div class="comment-item clearfix">
        <div class="comment-icon">
            <span class="fas fa-comment-alt text-info"></span>
        </div>
        <div class="comment-column">
            <div class="comment-head">
                <span class="text-secondary"><%- _format(comment.get('_createdAt'), 'datetime') %></span>
                <b class="ms-3 text-info">
                    <span class="me-1 fa fa-user"></span>
                    <%= comment.get('name') %>
                </b>
            </div>
            <div class="comment-body"><i><%= comment.get('content') %></i></div>
        </div>
    </div>
    <% } %>
</div>
<% } else { %>
<div class="alert alert-info" data-t="">Not commented yet</div>
<% } %>