<% layout(_view.get('_layout/content')) %>
<% block('title', 'Articles') %>

<div class="row">
  <div class="col-md-12">
    <div class="alert-danger alert">
      <%- message %>
    </div>
  </div>
</div>