<!-- article/_categories -->
<template id="categories">
    <div class="card-warning card mb-5">
        <div class="card-header" data-t="">Categories</div>
        <div class="card-body">
            <div class="alert-warning alert mb-0" v-if="empty">
                No categories found
            </div>
            <div class="list-group" v-else="empty">
                <template v-for="item in items">
                    <a @click.prevent="onItem" :data-id="item._id" href="#"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span>{{item._title}}</span>
                        <span class="badge bg-dark">{{item.publicArticleCounter}}</span>
                    </a>
                </template>
            </div>
        </div>
    </div>
</template>