<%
const name = _controller.user.getTitle('');
const email = _controller.user.getEmail();
%>
<template id="comment-form">
    <div>
        <h4 class="my-4">Add comment</h4>

        <div v-show="done" class="alert-success alert">
            You message has been sent successfully and will be published after moderation
        </div>
        <div v-show="failed" class="alert-danger alert">
            {{failed}}
        </div>
        <form v-show="!done" @submit.prevent="onSubmit" class="comment-form form">
            <div class="form-group row required">
                <label for="Comment-name" class="col-md-3 col-form-label">Your name</label>
                <div class="col-md-9">
                    <input id="Comment-name" name="name" type="text" class="form-control" required value="<%= name %>">
                    <div class="error-block"></div>
                </div>
            </div>
            <div class="form-group row required">
                <label for="Comment-email" class="col-md-3 col-form-label">Email (not shown)</label>
                <div class="col-md-9">
                    <input id="Comment-email" name="email" type="email" class="form-control" required value="<%= email %>">
                    <div class="error-block"></div>
                </div>
            </div>
            <div class="form-group row required">
                <label for="Comment-content" class="col-md-3 col-form-label">Message</label>
                <div class="col-md-9">
                    <textarea id="Comment-content" name="content" class="form-control" rows="4" required></textarea>
                    <div class="error-block"></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</template>