<!-- ru/_part/signboard -->
<div class="signboard alert-warning alert">
    Модуль демонстрирует доступ к данным приложения через собственные контроллеры, модели и представления,
    что позволяет создавать индивидуальные веб-интерфейсы со специальным функционалом.
</div>