<!-- ru/_part/signboard -->
<div class="signboard alert-warning alert">
    Модуль демонстрирует доступ к данным приложения через пользовательские контроллеры,
    модели и представления (server-side rendering).
</div>