<!-- ru/_part/signboard -->
<div class="signboard">
    Модуль демонстрирует доступ к данным приложения через собственные контроллеры, модели и представления.
    <br>
    Это позволяет создавать индивидуальные веб-интерфейсы со специальным функционалом.
</div>