<!-- front-pages/_part/nav/logo -->

<a href="front-pages" class="logo">
    <span class="logo-mini"><b>FP</b></span>
    <span class="logo-lg"><%- _module.app.getTitle() %>.<b>Front</b> pages</span>
</a>