body {
    --navbar-color: var(--light-success);
    --super-navbar-color: var(--dark-success);
    --sidebar-width: 0;
}

.object-view .form-group {
    margin-bottom: 1rem;
}
.object-controls {
    margin-bottom: 1rem;
    text-align: right;
}
.object-controls .form-control,
.object-controls .input-group {
    width: auto;
    display: inline-block;
}

.list-controls {
    margin-bottom: 2rem;
}
.list-controls .form-control,
.list-controls .input-group {
    width: auto;
    display: inline-block;
}
.list-controls .input-group-btn {
    display: inline-block;
}
.list-item-controls {
    margin-bottom: 2rem;
}

.dropdown.config-photo {
    margin-right: 8rem;
}
.dropdown.config-photo.open {
    margin-right: 0;
}
.dropdown-menu.form-content {
    padding: 1rem;
    width: 100%;
    max-width: 40rem;
}
.dropdown-menu > li {
    margin-bottom: .5rem;
}

.form-group-btn {
    margin-top: 1rem;
}
.checkbox label {
    font-weight: bold;
}
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #000;
}

.article-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}
.article-item + .article-item {
    margin-top: 2rem;
}
.article-body, .article-footer {
    margin-top: 1rem;
}
.article-item .img-thumbnail {
    margin: 1rem auto;
    max-width: 8rem;
}

.list-item {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}
.list-item h3 {
    margin: 0 0 1rem 0;
}
.list-item h4 {
    margin: 0 0 1rem 0;
}

.comment-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}
.comment-item:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}
.comment-icon {
    float: left;
    padding: .5rem 1rem .5rem;
    font-size: 2rem;
    color: #888;
    border: 1px solid #ccc;
}
.comment-column {
    margin-left: 5rem;
}
.comment-head {
    display: flex;
    margin-bottom: .7rem;
}

.recent-comment {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}
.recent-comment:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.recent-comment a {
    display: block;
    max-height: 4rem;
    overflow: hidden;
}

.tag-item {
    margin-right: 1rem;
    text-decoration: underline;
}