
<% if (categories && categories.length) { %>
<div class="mb10">
    <b class="mr10"><span data-t="">Categories</span>:</b>
    <% for (const category of categories) { %>
    <a href="<%= _url('category', {id: category.getId()}) %>" class="tag-item">
        <%= category.getTitle() %>
    </a>
    <% } %>
</div>
<% } %>