<%
if (photos?.length) {
    const url = _url('photo/thumbnail?s=large&id=');
%>
<div id="articlePhotos" class="carousel slide my-3" data-ride="carousel" data-interval="false" data-wrap="true">
    <div class="carousel-inner">
        <% for (let i = 0; i < photos.length; ++i) {
           const title = photos[i].get('description'); %>
        <div class="carousel-item <%- i === 0 ? 'active' : '' %>">
            <img class="d-block w-100" data-src="<%- url + photos[i].getId() %>" title="<%= title %>" alt="">
        </div>
        <% } %>
    </div>
    <a class="carousel-control-prev" href="#articlePhotos" role="button" data-slide="prev">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#articlePhotos" role="button" data-slide="next">
        <span class="fas fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<% } %>