<% const searchValue = typeof search === 'undefined' ? '' : search; %>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-t="">Search</h3>
    </div>
    <div class="panel-body">
        <form action="<%- _url('index') %>" method="get">
            <div class="input-group">
                <input type="search" name="text" class="form-control" value="<%= searchValue %>">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>