<!-- article/_signboard -->
<div class="signboard">
    The module demonstrates access to application data through its own controllers, models and views.
    <br>
    This allows you to create customized web interfaces with special functionality.
</div>