<!-- article/_signboard -->
<div class="signboard alert-warning alert">
    This module demonstrates access to application data through its own controllers, models and views
    to create customized web interfaces with special functionality.
</div>