<!-- ru/_part/signboard -->
<div class="signboard alert-warning alert">
    Пользовательский интерфейс построен с помощью Vue.js.
    Модуль демонстрирует доступ к функционалу и данным приложения через AJAX-запросы.
</div>